/*
* FILE:				  App.css
* PROJECT:			Front end assignment
* PROGRAMMER:		Tino Restivo
* FIRST VERSION:	Feb 22, 2026
* DESCRIPTION:
* Css file for the project.
*/

#root {
  max-width: 100%;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

#UserNameDiv {
  text-align: left;
  width: 100%;
  background-color: #c1e3fa;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 0px;
  z-index: 1000;
}
#NavDiv {
  text-align: left;
  width: 100%;
  background-color: #c1e3fa;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 0px;
  z-index: 1000;
}

#SearchDiv {
  width: 100%;
  background-color: #f4fac1;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
}

.SearchBtn {
  padding: 10px;
  margin: 20px;
}

.SearchInput {
  padding: 10px;
  margin: 20px;
}

#Forums {
  padding: 10px;
  margin: 20px;
}

#PostsDiv {
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  background-color: #c5c5c5;
  color: rgb(0, 0, 0);
  padding: 50px;
  margin-bottom: 10px;
}

#FavPostsDiv {
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  background-color: #c5c5c5;
  color: rgb(0, 0, 0);
  padding: 50px;
  margin-bottom: 10px;
}
